<form autocomplete="off">
    <p class="notes">This will override all combat music priorities for this encounter.</p>
    <div class="form-group">
        <label>Playlist</label>
        <select name="playlist">
            <option value=""> </option>
            {{#each playlists}}
            <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}> {{this.name}}</option>
            {{/each}}
        </select>
        <p class="notes">Choose a playlist.</p>
    </div>

    <div class="form-group">
        <label>Track</label>
        <select name="track">
            <option value=""> </option>
            {{#each tracks}}
            <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}> {{this.name}}</option>
            {{/each}}
        </select>
        <p class="notes">Choose a track.</p>
    </div>
	<button type="submit" name="submit" value="1"><i class="far fa-check"></i> Set Track</button>
</form>