<div class="standard-form">
    <p class="instructions">This setting will override all combat music priorities for this encounter.</p>
    {{formGroup fields.playlist options=playlists value=selectedPlaylist rootId=rootId}}
    {{formGroup fields.track options=tracks value=selectedTrack rootId=rootId}}
</div>
