<div class="tab flexcol">
    {{formGroup fields.playlist options=playlists value=selectedPlaylist rootId=rootId}}
    {{formGroup fields.track options=tracks value=selectedTrack rootId=rootId}}
    {{formGroup fields.priority value=priority rootId=rootId}}
</div>
